<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="connection.url">jdbc:derby:./database/NMR</property>
        <property name="connection.username">NMR</property>
        <property name="connection.password">NMR</property>
        
        <property name="hibernate.connection.initial_pool_size">1</property>
        <property name="hibernate.connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">DerbyTenSeven</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <mapping class="de.zachxu.nextmatchreminder.webservice.db.data.MatchCountry"/>
        <mapping class="de.zachxu.nextmatchreminder.webservice.db.data.TeamInfo" />
        <mapping class="de.zachxu.nextmatchreminder.webservice.db.data.MatchCategory"/>
        <mapping class="de.zachxu.nextmatchreminder.webservice.db.data.MatchInfo"/>

    </session-factory>

</hibernate-configuration>